Snmp2cClient::walk_bulk() sending SNMP get-request

Hi,

When calling the Snmp2cClient::walk_bulk function, it first sends a getBulkRequest and afterwards sends a get-request  asking for the `top_oid`. The result from the last get-request is the only saved result. The issue has something to do with the `if !top_oid.is_prefix_of_or_equal(&oid)` statement ([client.rs](src/client.rs) line 1039) but i'm a bit unsure how to proceed to fix it. The issue is also present in [bulkwalk.rs](example/bulkwalk.rs)

I tested with OID [1.3.6.1.2.1.31.1.1.1.6.1](https://oid-rep.orange-labs.fr/get/1.3.6.1.2.1.31.1.1.1.6) (ifHCInOctets)

My current workaround is to use the get_bulk function, but i'm lacking a request_id parameter in this function. I will make a pull request correcting this.

Regards,
Emil

Hi Emil,

this behavior is consistent with `snmpbulkwalk` from Net-SNMP.

The advertised behavior of `snmpbulkwalk` is "give me the whole SNMP subtree rooted at the given OID". This has to be built from two operations specified in RFC 3416:

* get-request: obtains the value exactly at the given OID

* get-bulk-request: obtains multiple values starting at the OID _after_ the given OID in lexicographic ordering

(get-bulk-request is effectively equivalent to multiple calls of get-next-request, a third operation which obtains a _single_ value _after_ the given OID in lexicographic ordering. get-bulk-request is new in SNMPv2 while get-request and get-next-request already existed in SNMPv1.)

Lexicographic ordering for OIDs is: 1 < 1.1 < 1.1.1 < 1.2 < 1.2.1 < 2

There is an understanding, one I have unfortunately not been able to derive directly from the relevant RFCs, that only the variables at the deepest level of the OID tree may have values. For example, if 1.3.6.1.2.1.1.1.0 has a value, no value may exist for 1, 1.3, 1.3.6, 1.3.6.1, 1.3.6.1.2, 1.3.6.1.2.1, 1.3.6.1.2.1.1 or 1.3.6.1.2.1.1.1.

Thus, `snmpbulkwalk` implements the following behavior:

1. Perform a get-bulk-request.

2. If the first variable returned by the get-bulk-request is outside of the requested OID subtree, the user may be requesting a leaf OID. (SNMP servers are supposed to return variables in lexicographic ordering.) Perform a get-request and return its result instead.

Since SNMP prescribes that single-value variables are provided with an index 0 (RFC 2578 section 7 paragraph 2), the following happens when requesting sysDescr (1.3.6.1.2.1.1.1):

1. get-bulk-request 1.3.6.1.2.1.1.1 (sysDescr) is sent.

2. A response with a value for 1.3.6.1.2.1.1.1.0 (sysDescr.0) and other values following it in lexicographic ordering such as sysObjectID.0 (1.3.6.1.2.1.1.2.0) is received.

3. Since sysDescr.0 is below sysDescr, the values outside of the sysDescr subtree are removed and the singular remaining one, sysDescr.0, returned.

However, I can also directly query sysDescr.0 (1.3.6.1.2.1.1.1.0):

1. get-bulk-request 1.3.6.1.2.1.1.1.0 (sysDescr.0) is sent.

2. A response with a value for sysObjectID.0 (1.3.6.1.2.1.1.2.0), the next variable after sysDescr.0 on the device, and other values following it in lexicographic ordering, is received.

3. Since sysObjectID.0 is not below sysDescr.0 but in a branch next to it, we try to query sysObjectID.0 directly instead: get-request 1.3.6.1.2.1.1.1.0 (sysDescr.0) is sent.

4. A response with a value for 1.3.6.1.2.1.1.1.0 (sysDescr.0) is received.

5. The value for sysDescr.0 is returned.

As for your situation, you are not querying ifHCInOctets (1.3.6.1.2.1.31.1.1.1.6), you are querying ifHCInOctets.1 (1.3.6.1.2.1.31.1.1.1.6.1). This succeeds if the device has an interface with index 1 (and you will only receive the number of inbound octets on the interface with index 1), but if it doesn't, you will obtain no result. If you're querying a specific interface, make sure you are using the index of an existing interface; if you are querying all interfaces, remove the `.1` at the end of your OID.

Cheers!


Thank you for the explanation, it works at intended now.